:root{
    --primary-text-color:#757575 ;
    --secondary-text-color:#212121;
    --accent-text-color:#2196F3;
    --btn-text-color:#FFFFFF;
}
body{
    color:var(--primary-text-color) ;
    background-color:#FFFFFF;
}

.list{
    list-style: none;
}
/* header */
.logo{
    color:#000000 ;

}
.first-logo, 
.logo:hover, 
.logo:focus, 
.link:hover, 
.link:focus {
    color: var(--accent-text-color) ;
}
.site-nav .link-current{
    color: var(--accent-text-color);
}
.nav-link {
    color:var(--secondary-text-color) ;
}
.contact-link{
    color: var(--primary-text-color);
}
/* Main content */
.hero-title{
color: var(--btn-text-color);
background-color:#2F303A ;
}
.order-btn{
    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
}
.filter-btn{
    color:#212121 ;
    background-color:var(--btn-text-color) ;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--btn-text-color);
    background-color: var(--accent-text-color);
}
.section-title, 
.paragraph-title,
.works{
    color: #212121;
}
.team-list{
    background-color: #F5F4FA;
}
/* footer */
.footer{
    background-color: #2F303A;
}
.location{
    color: var(--btn-text-color);
}
.footer-contact{
    color: rgba(255, 255, 255, 0.6);
}





/* font-family: 'Raleway',
 sans-serif;
font-family: 'Roboto'sans-serif; */